#scrubextensionif{
	max-width: 800px;
	width: 80%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -400px;
	z-index: 2147483647;
	background-color: #FFFFFF;
}

#scruboverlay-shadow{
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2147482;
}

@-webkit-keyframes slidedown {
   from { height: 0%; }
   to   { height: 100%; }
}

@-webkit-keyframes slideup {
   from { height: 100%; }
   to   { height: 0%; }
}

.slidedownClass {
	-webkit-animation: slidedown 1s; /* Safari and Chrome */
}

.slideupClass {
	-webkit-animation: slideup 1s; /* Safari and Chrome */
}
